.engsearch-results-box {
  height: 320px;          /* fixed height */
  overflow: hidden;
  padding: 0;
}

.engsearch-results-list {
  height: 100%;
  overflow-y: auto;     
  padding: 10px;
}


.engsearch-result-item {
  padding: 10px 8px;
  border-bottom: 1px solid #eee;
}

.engsearch-result-main {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.engsearch-chars {
  font-size: 1.1rem;
}

.engsearch-pinyin {
  color: #888;
  font-size: 0.95rem;
  font-family: monospace;
}

.engsearch-result-def {
  padding-left: 20px !important;
  margin-top: 4px;
  font-size: 0.95rem;
  color: #fff;
  line-height: 1.3;
}
